* {
  font-size: 1.2vw;
  font-family: "Press Start 2P", cursive;
  /* margin: 0;
        padding: 0; */
}

body {
  background: url(try1.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.container {
  border: 10px solid transparent;
  border-image: url(try1.jpg) 150 round;
}

#title {
  font-size: 2.8vw;
  text-align: center;
}

.inputAndBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  align-items: center;
}

#addProduct {
  font-size: 1vw;
  width: 20vw;
}

#addBtn {
  width: 7vw;
  margin-top: 20px;
  margin-bottom: 40px;
}

#items {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.card {
  /* border: 4px solid rgb(0, 174, 255); */
  width: 8rem;
  height: 8rem;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin: 6px;
  overflow-wrap: break-word;
  background-color: rgba(71, 151, 243, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02, 1.02);
  background-color: rgb(127, 158, 192);
}

.card button {
  border: none;
  outline: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(236, 49, 96);
  padding: 4px;
  border-radius: 0px 0px 5px 5px;
  color: white;
}

.card button:hover {
  background-color: white;
  color: rgb(236, 49, 59);
}

#printBtn {
  display: flex;
  margin: 40px auto;
  text-align: center;
}

#values {
  display: none;
}

button {
  border-radius: 5px;
  margin-bottom: 40px;
}

button:hover {
  transform: scale(1.02, 1.02);
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  * {
    font-size: 2.5vw;
  }

  #printBtn {
    width: 12vw;
    justify-content: center;
  }

  #addProduct {
    font-size: 2.2vw;
    width: 25vw;
    height: 2.2vw;
  }

  #addBtn {
    width: 10vw;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  * {
    font-size: 2vw;
  }
  #addProduct {
    font-size: 2.2vw;
    width: 25vw;
    height: 2.5vw;
  }
  #addBtn {
    width: 12vw;
  }
}
